[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
requests = "*"
datetime = "*"
packaging = "*"
flask = "*"
firebase-admin = "*"
prefab-ui = "*"
gunicorn = "*"

[dev-packages]
