[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
firebase-admin = "*"
prefab-ui = "*"
gunicorn = "*"

[requires]
python_version = "3.13"

[dev-packages]
pytest = "*"
playwright = "*"
pytest-playwright = "*"
